<footer class="f-id">

    <a class="f-a" href="/">Voltar ao inico.</a>

    <a href="/"><p>Wendy Taylor</p></a>
    
    <span><a href="https://github.com/G-Ladeira/projetoGrupo04">Turma 4 - DH</a></span>

</footer>