<footer class="f-id">

    <a class="f-a" href="/">Voltar ao inico.</a>

    <p>Wendy Taylor</p>
    
    <span><a href="https://github.com/vitorschapieski">Vitor Schapieski - 1996</a></span>

</footer>