<header id="header">

    <div class="logo">

      <span class="logoName">Wendy Taylor</span>

    </div>
    
    <nav id="nav">
      <button id="btn-mobile"><img src="images/menu-icon.png" alt="Icon menu" class="menu-icon"></button>
      <ul id="menu" class="links">
        <li><a class="btn" href="">Produtos</a></li>
        <li><a class="btn" id="btn-login" href="/login">Login</a></li>
        <li><a class="btn" href="/cadastro">Cadastre-se</a></li>
      </ul>
    </nav>

    
</header>