<header id="header">

    <div class="logo">

      <span class="logoName">Wendy Taylor</span>

    </div>
    
    <nav id="nav">
      <button id="btn-mobile"><img src="images/menu-icon.png" alt="Icon menu" class="menu-icon"></button>

      <ul id="menu" class="links">
        <li><a class="btn" href="#p-produtos">Produtos</a></li>
        <li id="btn-login"><a class="btn" href="/login">Login</a></li>
        <li id="btn-cad"><a class="btn"  href="/cadastro">Cadastre-se</a></li>
        <li><div class="li-img">
          <a href="/usuario"><img id="nav-menu-img" src="images/photo.jpg" alt=""></a>
          <p id="nome-User"></p>
        </div></li>
      </ul>
    </nav>

    
</header>