<div id="modal-login" class="modal-container">

    <div class="modal-card">
      <form>
        <button href="/" class="exit">x</button>
        <h1>Login :D</h1>
        <div class="label-float">
          <input type="text" id="usuario" placeholder="">
          <label for="usuario">Usuario</label>
        </div>

        <div class="label-float">
          <input type="password" id="senha" placeholder="">
          <label for="usuario">Senha</label>
        </div>

        <div class="justify-center">
          <button>Entrar</button>
        </div>

        <div class="justify-center">
          <hr>
        </div>

        <p>Não tem uma conta?
          <a href="">Cadastre-se!</a>
        </p>
    </form>
    </div>

  </div>