<!DOCTYPE html>
<html>
  <head>
    <title>Wendy Taylor - Cadastre-se</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
  </head>
  <body>
    
    <div id="modal-login" class="modal-container">

        <div class="modal-card">
          <form method="post">
            <h1>Cadastre-se</h1>

            <div class="label-float">
                <input type="text" id="nome" placeholder="" required>
                <label id="labelNome" for="nome">Nome</label>
            </div>

            <div class="label-float">
              <input type="text" id="usuario" placeholder="" required>
              <label id="labelUsuario" for="usuario">Usuario</label>
            </div>
    
            <div class="label-float">
              <input type="password" id="senha" placeholder="" required>
              <label id="labelSenha" for="senha">Senha</label>
              <i id="verSenha" class="fa fa-eye" aria-hidden="true"></i>
            </div>

            <div class="label-float">
                <input type="password" id="confirmSenha" placeholder="" required>
                <label id="labelConfirmSenha" for="confirmeSenha">Confirme a Senha</label>
            </div>
    
            <div class="justify-center">
              <button onclick="cadastrar()">Cadastrar</button>
            </div>
    
            <div class="justify-center">
              <hr>
            </div>
    
            <p>Já tem uma conta?
              <a href="/login">Faça login!</a>
            </p>
        </form>
        </div>
    

  </body>
<script src="javascripts/header.js"></script>
<script src="javascripts/user.js"></script>
</html>
