<!DOCTYPE html>
<html>
  <head>
    <title>Wendy Taylor - Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
  </head>
  <body>
    
    <%- include('./partials/login') %> 
    

  </body>
<script src="javascripts/header.js"></script>
<script src="javascripts/modalLogin.js"></script>
</html>
