@font-face {
    font-family: 'WT';
    src: url('/fonts/lemon_milk/LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

header {
    box-sizing: border-box;
    position: fixed;
    margin-left: 2.5vw;
    width: 95%;
    max-width: 100vw;
    height: 100px;
    max-height: 110px;
    background-color: rgba(255, 255, 255, 0.507);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: black solid 1px;
    color: #000;
    font-size: .8rem;
    z-index: 20000;
}

/*LOGO*/


.logoName {
    font-family: 'WT', 'Times New Roman', Times, serif;
    font-size: 30px;
    transition: 0.5s;
}

.logoName:hover {
    color: rgba(240, 183, 227, 0.938);
    font-size: 35px;
}


/*Botoes*/
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    text-decoration: none;
    list-style: none;
    background-color: transparent;
}

.links {
    display: flex;
}
/*FOTO DA HOME E NOME*/
#nav-menu-img{
    height: 50px;
    border-radius: 50%;
}
#nav-menu-img:hover{
    border: 1px solid gray;
    box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.507);
}
.li-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 15px;
    cursor: pointer;
}
#nome-User{
    font-size: 16px;
}

.btn {
    font-size: .9rem;
    padding: 10px;
    transition: 1s;
    border: 2px;
}

.btn:hover{
    border-top:  3px solid rgba(0, 0, 0, 0.116);
    background-color: rgba(134, 127, 114, 0.178);
    font-size: 1rem;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-family: 'WT', 'Times New Roman', Times, serif;
}

/* Configuraçao dos botoes para mobile*/

#btn-mobile {
    display: none;
}






/* Teste */


@media (max-width: 600px) {
    #btn-mobile {
        display: block;
        border: none;
        background: none;
    }
    #menu {
        display: none;
        position: absolute;
        right: 100px;
        width: 100%;
    }
    #nav.active #menu {
        display: flex;
        justify-content: center;
        top: 111px;
        z-index: 10000;
        background-color: transparent;
    }
    .menu-icon {
        height: 30px;
        width: 30px;
        transition: 1s;
    }
    #nav.active .menu-icon {
        transform: rotate(-90deg);
    }
    
}
