* {
    box-sizing: border-box;
    border: 0;
    margin: 0%;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-style: inherit;
    color: inherit;
}



/* BODY - Divisoes da pagina */

.i-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1200px;
    margin: 0 auto;
    width: 95%;
    background-color: rgb(255, 255, 255);
    position: relative;
    flex-wrap: wrap;
}

.i-top {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 110px;
    position: absolute;
    top: 0%;
    left: 0%;
}

.i-left {
    border-radius: 30px 0 0 30px;
    background-image: url(/images/bg3.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    width: 60%;
    height: calc(100% - 110px);
    left: 0%;
    position: absolute;
    top: 110px;
    transition: .6s ease;
    display: flex;
    align-items: auto;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}

::-webkit-scrollbar{
    width: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.i-rigth {}


/* Cards de produtos */


.i-left .l-card {
    width: 225px;
    max-width: 400px;
    height: 220px;
    position: relative;
    margin: 90px 10px;
    padding: 20px 15px;
    background-color: #fff;
    border-radius: 25px;
    flex-direction: column;
    transition: .6s ease-in-out;
}

.i-left .l-card:hover{
    height: 400px;
}

.i-left .l-card .l-imagem{
    position: relative;
    width: 195px;
    height: 250px;
    top: -18px;
    left: 0px;
    z-index: 50;
}

.i-left .l-card .l-imagem h2{
    position: relative;
    top: -10%;
    font-family: 'WT', Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

.i-left .l-card .l-imagem img{
    max-width: 100%;
    height: 200px;
    width: 200px;
    border-radius: 24px;
}

.i-left .l-card .l-texto{
    position: relative;
    margin-top: -75px;
    text-align: center;
    padding: 10px;
    visibility: hidden;
    transition: .4s ease-in-out;
    font-size: 13px;
}

.i-left .l-card:hover .l-texto{
    visibility: visible;
    transition-delay: .3s;
    cursor: pointer;

}

@media(max-width: 600px){
    .i-conteiner{
        top: 35px;
    }
}

@media(max-width: 1000px){
    .i-conteiner {
        display: grid;
        grid-template-rows: 60% 40%;
        grid-template-columns: 1fr;
        
    }
    .i-left {
        width: 100%;
        grid-row: 1/2;
        grid-column: 1/2;
        border-radius: 30px 30px 0 0;
    }
    .i-rigth {
        width: 100%;
        grid-row: 2/3;
        grid-column: 1/2;
        top: 0%;
    }
    .i-left .l-card{
        margin: 15px 15px;
    }
}